/** Css Reset*/ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** Utility*/
body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}

h2 {
    font-size: 40px;
    padding: 40px 0;
}

.flex {
    display: flex;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container-main {
    width: 1000px;
    margin: 0 auto;
}

/*! HEADER */

header {
    border: 1px solid black;
}

.top-header {
    background-color: white;
    position: fixed;
    width: 100%;
    justify-content: space-between;
}

.header {
    height: 80px;
    min-width: 30%;

    border: 1px solid red;
}

/** Jumbotron */

.bottom-header {
    padding-top: 80px;
    background-color: #b4d0e7;
    height: 820px;
}

.jumbotron {
    background-color:coral;
    height: 740px;
    padding-top: 80px;
}



.title-jumbo h1 {
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 40px;
}

.left-jumbo {
    width: 30%;
    height: 402px;
    background-color: burlywood;
}

.right-jumbo {
    width: 70%;
}

.right-jumbo img {
    height: 480px;
}


/*! MAIN */

/** Sezione Plan */

main {
    padding-top: 100px
}

section.fatturazione {
    height: 1000px;
    background-color: cadetblue;
}

ul.billing {
    gap: 20px;
}

.plan-container {
    margin: 0 -1rem;
    flex-wrap: wrap;
}

.plan {
    margin: 1rem;
    width: calc(100% / 3 -2rem);

    border: 1px solid white;
}