/** Css Reset*/ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** Utility*/
body {
    font-family: 'Open Sans', sans-serif;
    color: black;
}

ul {
    list-style-type: none;
}

h2 {
    font-size: 40px;
    padding: 40px 0;
}

.flex {
    display: flex;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container-main {
    width: 1000px;
    margin: 0 auto;
}

a.blue-btn {
    text-decoration: none;
    background-color: #0061ff;
    padding: 10px 20px;
    color: white;
}

a.white-btn {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
}

.text-gray {
    color: gray;
}



/*! HEADER */
header a {
    text-decoration: none;
    color: black;
}

.top-header {
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
    padding-left: 20px;
    box-shadow: 0 2px 5px lightgrey;
}

.header {
    height: 80px;
    width: 30%;
    align-items: center;
}

#logo {
    height: 25px;
}

.header-list {
    width: 100%;
    justify-content: space-around;
}



/** Jumbotron */

.bottom-header {
    padding-top: 80px;
    background-color: #b4d0e7;
    height: 820px;
}

.jumbotron {
    padding-top: 80px;
}


.title-jumbo h1 {
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 40px;
}

/*Left Jumbo*/
.left-jumbo {
    width: 30%;
    position: relative;
}

a.jumbo-btn {
    margin: 30px 0;
    display: inline-block;
}

.fa-solid.fa-arrow-down {
    font-size: 60px;
    position: absolute;
    bottom: 100px;
}

/* Right Jumbo*/
.right-jumbo {
    width: 70%;
}

.right-jumbo img {
    height: 480px;
}


/*! MAIN */

main {
    padding-top: 100px
}

/** Sezione Plan */


.fatturazione {
    gap: 20px;
}

.billing {
    align-items: center;
    padding: 20px 0;
    gap: 5px;
}

#check {
    height: 20px;
    width: 20px;
    border: 5px solid #0061ff;
    border-radius: 50%;
    display: inline-block;
}

#uncheck {
    height: 20px;
    width: 20px;
    border: 2px solid #d0d0d3;
    border-radius: 50%;
    display: inline-block;
}

/* Piani */
.plan-container {
    flex-basis: 1000px;
    margin: 0 -25px;
    flex-wrap: wrap;
    font-size: 14px;
}

.plan {
    margin: 25px;
    flex-basis: calc(100% / 3 - 50px);

    height: 1000px; 
    border: 1px solid #d0d0d3;
}

.plan.enterprise-team {
    flex-basis: 100%;
    height: 250px;
}

.plan-padding {
    padding: 0 30px;
}

/*riempimento piani*/
.piano {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #d0d0d3;
    margin-bottom: 20px;
}

.plan  h3 {
    font-size: 23px;
    padding: 20px 0;
}

.price {
    line-height: 30px;
}

ul.plan-term, ul.details {
    margin-left: 20px;
}

.plan-term > * {
    margin: 30px 0;
}

.plan-btn.flex {
    justify-content: center;
}


.acquire {
    padding: 40px 0;
}

.divisore {
    margin-bottom: 20px;
    width: 50px;
    border-bottom: 1px solid #d0d0d3;
}

.details > * {
    margin: 20px 0;
}

.fa-solid.fa-check {
    color: #0061ff;
}

/*plan enterprise team*/
.plan-card-left p {
    margin-top: 50px;
}

.plan-card-right {
    padding-top: 30px;
}



/** Sezione Partner */

.partner.flex {
    margin: 100px 0;
}

.img-left {
    width: 60%;
}

.partner-img {
    max-width: 100%;
}

.text-right {
    width: 40%;
}

/*riempimento sezione partner*/

.text-right {
    padding: 50px 40px;
}

.text-right h2 {
    font-size: 26px;
}

.text-right p {
    margin-bottom: 35px;
}


/** Sezione Operazioni */

section.operation {
    margin-bottom: 200px;
}

.card-container.flex {
    flex-wrap: wrap;
}

.card {
    height: 550px;
    margin: 30px;
    flex-basis: calc(100% / 3 - 60px);
}

.card-top {
    height: 50%;
}

/*riempimento sezione operazioni*/
.card-top {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.tools-img {
    background-image: url(img/business-feature-switching-tools.png);
} 
.files-img {
    background-image: url(img/business-feature-send-files-it.png);
}
.coordinate-img {
    background-image: url(img/business-feature-coordinate-it.png);
}
.integration-img {
    background-image: url(img/business-feature-integrations-it.png);
}
.multi-device-img {
    background-image: url(img/business-feature-multi-device.png);
}
.security-img {
    background-image: url(img/business-feature-security.png);
}

.card-bottom h2 {
    font-size: 25px;
}

.card-bottom p {
    font-size: 15px;
}

/** Sezione Find more */

h2.title-small {
    font-size: 30px;
}

/** Sezione Sponsor */

section.sponsor {
    margin-top: 150px;
}

.sponsor-big-box {
    width: calc(100vw / 3);
    height: calc(100vw / 3);

    flex-wrap: wrap;
}

.sponsor-small-box {
    width: 50%;
    height: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 15px solid transparent;
}

.sponsor-small-box:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

.sponsor-small-box img {
    width: 50%;
    filter: invert(1);
}

.bg-sage {
    background-color: #a2d39b;
}
.bg-burgundy {
    background-color: #61082b;
}
.bg-azure {
    background-color: #0093ce;
}
.bg-lightred {
    background-color: #ff1c1c;
}
.bg-red {
    background-color: #d5001f;
}
.bg-cerulean {
    background-color: #b4d0e7;
}
.bg-blue {
    background-color: #0d2481;
}
.bg-yellow {
    background-color: #ffd830;
}

.sponsor-big-box.gray {
    padding: 50px;
    background-color: #f5f5f5;
}

.sponsor-big-box.gray img {
    width: 300px;

    margin-bottom: 50px;
}

.sponsor-big-box.gray > .divisore {
    margin: 20px 0;
    width: 100px;
}

.sponsor-big-box.gray > p {
    margin: 30px 0 50px 0;
}


/** Sezione Free Trial */ 

.free-trial {
    background-color: #b4d0e7;
    padding: 70px;
}

.free-trial > .container-main.flex {
    gap: 90px;
    align-items: baseline;
}

.left-trial {
    width: 60%;
}

.left-trial h2 {
    color: #61082b;
}

.right-trial a{
    border-color: transparent;
    padding-left: 50px;
    padding-right: 50px;
}


/** Sezione Domande Frequenti*/

section#frequent-questions {
    margin-top: 150px;
    margin-bottom: 150px;
}

#frequent-questions h3 {
    font-size: 40px;
    padding-bottom: 40px;
}

p.question {
    display: inline-block;
    width: 100%;
    position: relative;
    font-weight: 700;
    line-height: 30px;
    padding: 40px 0;
}

.fa-solid.fa-angle-down {
    display: inline-block;
    position: absolute;
    right: 0;
   
}


/*! FOOTER */

footer {
    background-color: black;
    height: 600px;
}

.top-footer {
    height: 80%;
}

.top-footer .col{
    width: calc(100% / 5);
    padding-top: 90px;
}

.col h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
}

.col a {
    text-decoration: none;
    color: white;
    line-height: 40px;
}

.divisore-footer {
    width: 120px;
    border-bottom: 1px solid white;
}

p.language {
    margin-top: 50px;
}